* {
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 10px;
    padding: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
}

header {
    width: 100%;
    height: auto;
    background-color: black;
}

header .title_header {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px 10px 5px 5px;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    display: inline-block;
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 10px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.125rem;
    color: white;
}

header nav ul li a:hover {
    text-decoration: underline white;
}

main {
    min-height: 100vh;
    max-height: auto;
    max-width: 100%;
    min-width: auto;
}

main .title_page {
    width: 80%;
    margin: 25px auto;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: blueviolet;
}

main .opciones {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .abrir {
    margin: 20px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: gray;
}

main button:hover {
    background-color: slategrey;
}

.dialog_window {
    width: 70%;
    margin: 40px auto;
    max-height: 500px;
    border: solid 4px black;
    border-radius: 20px;
}

.dialog_window::-webkit-scrollbar {
    display: none;
}

.dialog_window button {
    width: 100%;
    padding: 20px;
    cursor: pointer;
    border: none;
    background-color: gray;
}

.dialog_window button:hover {
    text-decoration: underline;
    background-color: slategrey;
}

main .funciones h3 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

main .funciones {
    margin: 50px auto;
    padding: 20px;
    align-items: center;
    width: 50%;
    height: auto;
    border: solid 2px black;
    background-color: aqua;
    border-radius: 20px;
}

main .funciones p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main .funciones input {
    display: block;
    width: 80%;
    margin: 15px auto;
}

main .funciones .placeholder {
    outline: none;
    padding: 5px;
}

main .funciones .boton {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: rgb(100, 100, 100);
}

main .funciones .boton:hover {
    cursor: pointer;
    background-color: rgb(145, 144, 144);
}

main .funciones .result {
    min-height: 200px;
    background-color: rgb(184, 180, 180);
    border: solid 1px rgb(78, 78, 78);
    border-radius: 20px;
    padding: 20px;
}

main .funciones .result .resultado {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
}

footer ul {
    list-style: none;
}

footer ul a {
    text-decoration: none;
    color: white;
}

footer ul a:hover {
    text-decoration: underline;
}

footer .footer_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer_info li {
    padding: 10px;
}

footer .footer_socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer_socialmedia li {
    padding: 25px;
}

footer .footer_socialmedia li a img {
    width: 40px;
    height: 40px;
}